body {
    background-color: #FFFFFF;
    overflow: hidden;
    user-select: none;
    margin: 0;
}

div {
    position: absolute;
}

input {
    position: absolute;
    left: 15px;
    width: 179px;
    height: 19px;
    border-color: #808080 #FFFFFF #FFFFFF #808080;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    box-shadow: inset 1px 1px #000000, inset -1px -1px #C0C0C0;
    outline: none;
    padding: 1px 5px 0px;
    font-family: "consolas", "arial";
    font-size: 11px;
    color: #000000;

}

.button {
    position: absolute;
    top: 102px;
    width: 60px;
    border: 1px solid #000000;
    background-color: #F0F0F0;
    box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
    cursor: pointer;
    font-family: "arial";
    font-size: 11px;
    text-align: center;
    line-height: 23px;
    color: #000000;
}

.button:hover {
    text-decoration: underline;
}

#window {
    left: calc(50% - 150px);
    top: calc(50% - 78px);
    width: 300px;
    height: 156px;
    border: 1px solid #000000;
    background-color: #E0E0E0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

#bar {
    width: 300px;
    height: 20px;
    border-bottom: 1px solid #000000;
    background: linear-gradient(to bottom, #F0F0F0, #D9D9D9);
}

#title {
    width: 190px;
    height: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 0 1px 0 0;
    background: linear-gradient(to bottom, #4784BA, #284A68);
    font-family: "arial";
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

#content {
    top: 21px;
    width: 300px;
    height: 94px;
    background-color: #F0F0F0;
}

#computer {
    left: 221px;
    top: 15px;
    width: 64px;
    height: 64px;
    background-image: url("computer.png");
    background-size: 64px 64px;
}

#text {
    top: 18px;
}

#key {
    top: 54px;
}

#encrypt {
    left: 40px;
}

#decrypt {
    left: 119px;
}

#rand_key {
    left: 198px;
}